* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color:lightgreen;
}


.box-style {
    padding: 20px;
    color:darkorchid;
    border-width: 5px;
    border-style: dotted;
    }

ul {
    top: 0;
    width: 100%;
    background-color:cornflowerblue;
    color:black;
    font-size: 50px;

  }

  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
